## bonus online database

In [4]:
import mysql.connector

In [6]:
import os
from dotenv import load_dotenv

# Load environment variables from .env file
load_dotenv()

True

In [7]:
mydb = mysql.connector.connect(
    host=os.getenv("DB_HOST"),
    user=os.getenv("DB_USER"),
    password=os.getenv("DB_PASSWORD"),
    port=os.getenv("DB_PORT"),
    database=os.getenv("DB_NAME")
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000022C60FD3790>

In [3]:
cursor = mydb.cursor()
cursor

In [4]:
#find the number of availalbe copies of the book (Dracula) 
cursor.execute("""select (select count(*) as num_of_copies from Books 
where Title = 'Dracula') - (select count(distinct(Barcode))as not_available_copies from Loans as l 
inner join Books as b on l.BookID = b.BookID
where title = 'Dracula' and  ReturnedDate is null ) as avilable_copies 
""")
re= cursor.fetchall()
re

[(2,)]

In [ ]:
# --  Add new books to the library  
cursor.execute("""INSERT INTO Books (BookID,Title,Author,Published,Barcode) VALUES
(215, 'The Time Machine', 'H.G. Wells', 1895, '123456789015'),
(216, 'Ulysses', 'James Joyce', 1922, '123456789016')""")
re1 =cursor.fetchall()

In [ ]:
#Check out Books: books(4043822646, 2855934983) whose 
#patron_email(jvaan49@wisdompets.com), loandate=2020-08-25, duedate=2020-09-08, loanid=by_your_choice*/
cursor.execute("""insert into Loans values (2001 , 11 , 50 ,  '2020-08-25' , '2020-09-08' ,null) ,
(2002 , 93 ,50 , '2020-08-25' , '2020-09-08' ,null) """)
re2 = cursor.fetchall()

In [10]:
#Check books for Due back generate a report of books due back on July 13, 2020 with patron contact information
cursor.execute("""select * from Loans as l 
 inner join Patrons as p on l.patronid = p.patronid
 where l.duedate = '2020-07-13' """)

re3 =cursor.fetchall()
re3

[(1996,
  10,
  99,
  '2020-06-29',
  '2020-07-13',
  None,
  99,
  'Kala',
  'Simonian',
  'ksimonian2q@landonhotel.com'),
 (1997,
  155,
  47,
  '2020-06-29',
  '2020-07-13',
  None,
  47,
  'Lydie',
  'Awmack',
  'lawmack46@samoca.org'),
 (1998,
  169,
  18,
  '2020-06-29',
  '2020-07-13',
  None,
  18,
  'Anthe',
  'Dinjes',
  'adinjesh17@samoca.org'),
 (1999,
  73,
  59,
  '2020-06-29',
  '2020-07-13',
  None,
  59,
  'Cornelia',
  'Koppe',
  'ckoppe58@landonhotel.com')]

In [16]:
#Return books to the library (which have barcode=6435968624) and return this book at this date(2020-07-05)  
cursor.execute("""update Loans 
set returneddate = '2020-07-05'
where loanid = 1991 and bookid = 105 and patronid = 65""")

In [17]:
cursor.execute("""select * from Loans as l 
inner join Books as b on l.bookid = b.bookid
where  barcode=6435968624 """)
re5 = cursor.fetchall()
re5

[(133,
  105,
  67,
  '2016-09-07',
  '2016-09-21',
  '2016-09-21',
  105,
  'The Turn of the Screw',
  'Henry James',
  1898,
  6435968624),
 (152,
  105,
  48,
  '2016-09-22',
  '2016-10-06',
  '2016-10-06',
  105,
  'The Turn of the Screw',
  'Henry James',
  1898,
  6435968624),
 (462,
  105,
  64,
  '2017-04-22',
  '2017-05-06',
  '2017-05-06',
  105,
  'The Turn of the Screw',
  'Henry James',
  1898,
  6435968624),
 (567,
  105,
  5,
  '2017-07-15',
  '2017-07-29',
  '2017-07-29',
  105,
  'The Turn of the Screw',
  'Henry James',
  1898,
  6435968624),
 (728,
  105,
  77,
  '2017-12-04',
  '2017-12-18',
  '2017-12-18',
  105,
  'The Turn of the Screw',
  'Henry James',
  1898,
  6435968624),
 (978,
  105,
  93,
  '2018-06-20',
  '2018-07-04',
  '2018-07-04',
  105,
  'The Turn of the Screw',
  'Henry James',
  1898,
  6435968624),
 (1125,
  105,
  17,
  '2018-09-29',
  '2018-10-13',
  '2018-10-13',
  105,
  'The Turn of the Screw',
  'Henry James',
  1898,
  6435968624),
 (1515,
  105,
  80,
  '2019-07-17',
  '2019-07-31',
  '2019-07-31',
  105,
  'The Turn of the Screw',
  'Henry James',
  1898,
  6435968624),
 (1552,
  105,
  72,
  '2019-08-11',
  '2019-08-25',
  '2019-08-25',
  105,
  'The Turn of the Screw',
  'Henry James',
  1898,
  6435968624),
 (1712,
  105,
  75,
  '2019-12-06',
  '2019-12-20',
  '2019-12-20',
  105,
  'The Turn of the Screw',
  'Henry James',
  1898,
  6435968624),
 (1951,
  105,
  52,
  '2020-05-20',
  '2020-06-03',
  '2020-06-03',
  105,
  'The Turn of the Screw',
  'Henry James',
  1898,
  6435968624),
 (1991,
  105,
  65,
  '2020-06-25',
  '2020-07-09',
  '2020-07-05',
  105,
  'The Turn of the Screw',
  'Henry James',
  1898,
  6435968624)]

In [19]:
#Encourage Patrons to check out books   generate a report of showing 10 patrons who hav checked out the fewest books.
cursor.execute("""select p.patronid , firstname ,count(loanid) as num_of_loans from Loans as l 
 inner join Patrons as p on l.patronid = p.patronid 
 group by p.patronid 
 order by num_of_loans asc
 limit 10""")
re6= cursor.fetchall()
re6

[(83, 'Caril', 9),
 (69, 'Alaster', 9),
 (73, 'Merle', 11),
 (64, 'Norby', 12),
 (94, 'Curr', 12),
 (12, 'Orton', 14),
 (16, 'Carla', 14),
 (7, 'Cammi', 14),
 (3, 'Aleen', 14),
 (21, 'Henri', 15)]

In [20]:
#Find books to feature for an event   create a list of books from 1890s that are currently available 
cursor.execute("""select distinct(b.bookid) , b.title   from Loans as l 
inner join Books as b on l.bookid = b.bookid
where published = 1890 and returneddate is not null """)
re7= cursor.fetchall()
re7

[(7, 'The Sign of the Four'),
 (11, 'The Picture of Dorian Gray'),
 (55, 'An Occurrence at Owl Creek Bridge'),
 (56, 'The Picture of Dorian Gray'),
 (98, 'An Occurrence at Owl Creek Bridge'),
 (128, 'The Picture of Dorian Gray'),
 (134, 'The Sign of the Four'),
 (138, 'The Sign of the Four'),
 (154, 'An Occurrence at Owl Creek Bridge')]

In [21]:
#Book Statistics create a report to show how many books were published each year. 
cursor.execute("""select published , count(bookid) as num_of_books from Books 
group by published 
ORDER BY num_of_books desc""")
re = cursor.fetchall()
re

[(1890, 11),
 (1895, 11),
 (1850, 8),
 (1892, 7),
 (1884, 7),
 (1869, 6),
 (1898, 6),
 (1911, 6),
 (1859, 6),
 (1847, 6),
 (1922, 6),
 (1899, 5),
 (1876, 4),
 (1849, 4),
 (1852, 4),
 (1729, 4),
 (1923, 3),
 (1865, 3),
 (1858, 3),
 (1905, 3),
 (1887, 3),
 (1896, 3),
 (1886, 3),
 (1851, 3),
 (1813, 3),
 (1815, 3),
 (1818, 3),
 (1889, 3),
 (1878, 3),
 (1854, 3),
 (1920, 3),
 (1915, 3),
 (1908, 3),
 (1897, 3),
 (1839, 3),
 (1894, 3),
 (1883, 3),
 (1532, 3),
 (1861, 3),
 (1759, 3),
 (1791, 3),
 (1726, 3),
 (1900, 3),
 (1901, 3),
 (1880, 3),
 (1879, 3),
 (1914, 3),
 (1811, 3),
 (1921, 2),
 (1906, 2),
 (1670, 2),
 (1375, 2),
 (1913, 2),
 (1902, 2),
 (1689, 2),
 (1605, 2)]

In [22]:
# create a report to show 5 most popular Books to check out
cursor.execute("""select b.title , count(l.loanid) as num_of_loans from Loans as l 
inner join Books as b on l.bookid = b.bookid
group by b.title
order by num_of_loans desc
limit 5 """)
re= cursor.fetchall()
re

[('Frankenstein; Or, The Modern Prometheus', 53),
 ('The War of the Worlds', 43),
 ('The Awakening, and Selected Short Stories', 43),
 ('The Scarlet Letter', 42),
 ('The Picture of Dorian Gray', 40)]